[
  {server, [
    {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
    {certfile,   "/etc/rabbitmq/certs/node_cert.pem"},
    {keyfile,    "/etc/rabbitmq/certs/node_key.pem"},
    {verify, verify_peer},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/certs/ca_certificate.pem"},
    {certfile,   "/etc/rabbitmq/certs/node_cert.pem"},
    {keyfile,    "/etc/rabbitmq/certs/node_key.pem"},
    {verify, verify_peer}
  ]}
].
